version: "3.9"

services:
  db:
    image: postgres:16
    container_name: assurance-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"        # pour pouvoir se connecter en local si besoin
    volumes:
      - dbdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: assurance-api
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env.docker        # host = db ici
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - FRONTEND_URL=http://localhost:3001
    
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 20s

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: assurance-frontend
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:3000
    
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 20s


volumes:
  dbdata:
